body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #006904;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: black;
}

.container {
    background: orangered;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

select, input {
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
    border: none;
}
